.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

/* Responsive column spans */
@for $i from 1 through 12 {
  .col-mobile-#{$i} {
    @media (max-width: 576px) {
      grid-column: span $i;
    }
  }

  .col-tab-#{$i} {
    @media (min-width: 577px) and (max-width: 992px) {
      grid-column: span $i;
    }
  }

  .col-laptop-#{$i} {
    @media (min-width: 993px) {
      grid-column: span $i;
    }
  }
}
