.about-container {
    padding: 80px 60px;
    background-color:#000000;
    
    font-family: 'Segoe UI', sans-serif;
  
    @media (max-width: 768px) {
      padding: 40px 20px;
    }
  }
  .inovation_container{
    background-color:#2D93D4;
    height: 64px;
    width:64px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .Experties_text{
    background-color:#2D93D4;
    height: 64px;
    width:64px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

   
    .typography {
      font-size: 36px;
      font-weight: 700;
      color: white;
    }
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto 40px auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
    color:white;
  }
  .innovation_text{
  color: white;
 
  }
  .about-list-item{
    width: 20rem;
  }
  .Expert_text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 9.04px;
  }
  .element.style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .Experties_text{
    background-color: #7D70FF;
    height: 64px;
    width:64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-list {
    display: flex;
    justify-content: center;
    align-items: center;

  
   
  
    div {
      // background-color: #fff;
      // padding: 20px 30px;
      // border-radius: 16px;
      // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.06);
      // font-size: 20px;
      // font-weight: 600;
      // min-width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      // &:hover {
      //   transform: translateY(-6px);
      //   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
      // }
    }
  }
  