.clientsay_conatiner{
    
}
.whatour_text{
    color: white;
}
.Clientsay_text {
    background: linear-gradient(to right, #30A0FF, #B145FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }