.topbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    background: #000000;
    backdrop-filter: blur(8px);
    color: white;
    z-index: 1000;
    padding: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: top;
  }
  
  .topbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #a855f7; /* hover purple */
  }
  .opbar-buttons{
    width: 110px;
    height: 37px;
    left: 0.3px;

  }
  